{% include 'header.html' %}
  <!-- Header - set the background image for the header in the line below -->

  <header class="py-5 bg-image-full">
    {% load static %}
  <video autoplay="" playsinline="" muted="" loop="" class="video-hero__video" data-object-fit="">
                            <source src="{%static 'images/genpact.jpg' %}">
                    </video>
  </header>

  <!-- Content section -->
    <div class="container hometext">
      <h1 class="car_head">Vinove</h1>
      <p class="lead">Asia’s leading Customized Cuboid making is one of the client for Vinove, offering different segments of car, that meet requirements for wide range of customers.</p>
    </div>


  <!-- Content section -->


  <!-- Bootstrap core JavaScript
  <script src="js/bootstrap.bundle.min.js"></script>-->


